doctype html
html
    head
        meta(charser='utf-8')
        script(src='/socket.io/socket.io.js')
        script(src='d3/d3.min.js')
        script(src='charts.js')
        style
            include style.css
    body
        table
            tr
                td
                    a(href='/config') Config sensors
                td
                    a(href='/archive') Past measurements
        h1 Temperatures
        div(class="temperature graph")
        h1 Humidity
        div(class="humidity graph")
        h1 Pressure
        div(class="pressure graph")
        script.
            var w = window, 
            windowX = w.innerWidth,
            windowY = w.innerHeight;
            var tempChart = new LineChart({
                property: "temp", 
                placement: ".temperature", 
                sizeX: windowX, 
                sizeY: windowY, 
                ratioX: 0.8, 
                ratioY: 0.3});
            var humChart = new LineChart({
                property: "hum", 
                placement: ".humidity", 
                sizeX: windowX, 
                sizeY: windowY, 
                ratioX: 0.8, 
                ratioY: 0.3});
            var presChart = new LineChart({
                property: "pres", 
                placement: ".pressure", 
                sizeX: windowX, 
                sizeY: windowY, 
                ratioX: 0.8, 
                ratioY: 0.3});
