doctype html
html
    head
        meta(charser='utf-8')
        script(src='/socket.io/socket.io.js')
        script(src='plotly/plotly-latest.min.js')
        script(src='jquery/jquery-3.3.1.min.js')
        script(src='charts.js')
        style
            include style.css
    body
        include links

        div(id='tempgraph')
        div(id='humgraph')
        div(id='presgraph')
        script.
            var tempChart = new LineChart();
            tempChart.init({
                placement: 'tempgraph',
                property: 'temperature'
            });

            var humChart = new LineChart();
            humChart.init({
                placement: 'humgraph', 
                property: 'humidity'
            });

            var presChart = new LineChart();
            presChart.init({
                placement: 'presgraph', 
                property: 'pressure'
            });
